<!DOCTYPE html>
<html>
  <head>
    <title>Next Store API Documentation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://next-store-api-62m2.onrender.com/doc"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://next-store-api-62m2.onrender.com/doc/prt"
                >Products</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/doc/products"
                >User</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/doc/products"
                >Cart</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/doc/products"
                >Address</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/doc/products"
                >Order</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Product Routes</h1>
    <br />
    <div class="endpoint">
      <h2 class="get">GET ALL PRODUCTS</h2>
      <p>Returns all products.</p>
      <div class="example">
        <p><strong>Example Request:</strong></p>
        <div class="request">
          <code
            ><span class="get">GET</span>
            https://next-store-api-62m2.onrender.com/products</code
          >
        </div>
        <p><strong>Example Response:</strong></p>
        <div class="response">
          <pre><code>{
    "products": [
        {
            "id": "6",
            "title": "Calvin Klein CK One",
            "description": "CK One by Calvin Klein is a classic unisex fragrance, known for its fresh and clean scent. It's a versatile fragrance suitable for everyday wear.",
            "price": 49.99,
            "discountPercentage": 0.32,
            "rating": 4.85,
            "stock": 17,
            "brand": "Calvin Klein",
            "category": "fragrances",
            "thumbnail": "https://cdn.dummyjson.com/products/images/fragrances/Calvin%20Klein%20CK%20One/thumbnail.png"
        },
        ...
        ]
      }
      </code></pre>
        </div>
      </div>
    </div>

    <div class="endpoint">
      <h2 class="get">GET PRODUCT CATEGORIES</h2>
      <p>Returns all products.</p>
      <div class="example">
        <p><strong>Example Request:</strong></p>
        <div class="request">
          <code
            ><span class="get">GET</span>
            https://next-store-api-62m2.onrender.com/products/categories</code
          >
        </div>
        <p><strong>Example Response:</strong></p>
        <div class="response">
          <pre><code>{
    "products": [
        {
            "id": "6",
            "title": "Calvin Klein CK One",
            "description": "CK One by Calvin Klein is a classic unisex fragrance, known for its fresh and clean scent. It's a versatile fragrance suitable for everyday wear.",
            "price": 49.99,
            "discountPercentage": 0.32,
            "rating": 4.85,
            "stock": 17,
            "brand": "Calvin Klein",
            "category": "fragrances",
            "thumbnail": "https://cdn.dummyjson.com/products/images/fragrances/Calvin%20Klein%20CK%20One/thumbnail.png"
        },
        ...
        ]
      }
      </code></pre>
        </div>
      </div>
    </div>

    <div class="endpoint">
      <h2 class="get">GET ALL PRODUCTS</h2>
      <p>Returns all categories.</p>
      <div class="example">
        <p><strong>Example Request:</strong></p>
        <div class="request">
          <code
            ><span class="get">GET</span>
            https://next-store-api-62m2.onrender.com/products/categories</code
          >
        </div>
        <p><strong>Example Response:</strong></p>
        <div class="response">
          <pre><code>[
    {
        "category": "fragrances"
    },
    {
        "category": "furniture"
    },
        ...
       
]</code></pre>
        </div>
      </div>
    </div>

    <div class="endpoint">
      <h2 class="get">GET PRODUCT BY CATEGORY</h2>
      <p>Returns all categories.</p>
      <div class="example">
        <p><strong>Example Request:</strong></p>
        <div class="request">
          <code
            ><span class="get">GET</span>
            https://next-store-api-62m2.onrender.com/products/bycategorie/{PARAMS}</code
          >
        </div>
        <p><strong>Example Response:</strong></p>
        <div class="response">
          <pre><code>{
    "products": [
        {
            "id": "6",
            "title": "Calvin Klein CK One",
            "description": "CK One by Calvin Klein is a classic unisex fragrance, known for its fresh and clean scent. It's a versatile fragrance suitable for everyday wear.",
            "price": 49.99,
            "discountPercentage": 0.32,
            "rating": 4.85,
            "stock": 17,
            "brand": "Calvin Klein",
            "category": "fragrances",
            "thumbnail": "https://cdn.dummyjson.com/products/images/fragrances/Calvin%20Klein%20CK%20One/thumbnail.png"
        },
        ...
        ]
      }
      </code></pre>
        </div>
      </div>
    </div>

    <div class="endpoint">
      <h2 class="get-method">GET /filter</h2>
      <p>
        Returns a random secret with a particular embarrassment score or higher.
        API key authentication is required.
      </p>
      <p><strong>Query Parameters:</strong></p>
      <ul>
        <li>
          <code>apiKey</code>: Your API Key generated from the<code
            >/generate-api-key</code
          >
          endpoint.
        </li>
        <li>
          <code>score</code>: The minimum embarrassment score to filter by.
        </li>
      </ul>
      <div class="example">
        <p><strong>Example Request:</strong></p>
        <div class="request">
          <code
            ><span class="get-method">GET</span>
            https://next-store-api-62m2.onrender.com/products/bycategorie?category=mens-shoes&category=mens-watches</code
          >
        </div>
        <p><strong>Example Response:</strong></p>
        <div class="response">
          <pre><code>[
    {
      "id": "1",
      "secret": "This is a secret with embarrassment score 5 or higher.",
      "emScore": 5,
      "username": "user123",
      "timestamp": "2022-10-01T12:34:56Z"
    },
    {
      "id": "2",
      "secret": "Another secret with embarrassment score 5 or higher.",
      "emScore": 7,
      "username": "user123",
      "timestamp": "2022-10-02T10:11:12Z"
    }
    // ... more secrets ...
  ]</code></pre>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer>Copyright © <a href="# ">Thiago Ando de Freitas</a></footer>
</html>
